<% include partials/header.ejs %>

<div class="container">
    <!--The header - JUMBOTRON-->
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To Bet-Bro</h1>
            <p>Keep track of your football bets with your bros with Bet-Bro!</p>
            <p>
                <a class="btn btn-primary btn-large" href="/bets/new">Add New Bet</a>
            </p>
        </div>
    </header>
    <div class="row" style="display: flex, flex-wrap: wrap">
        <% bets.forEach(function(bet){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <h4><%= bet.description %></h4>
                    <img src="<%= bet.imageURL %>">
                    <h4><%= bet.date %></h4>
                    <p><a href="/bets/<%=bet._id%>" class="btn btn-primary">More Info</a></p>
                </div>
            </div>
        <% });%>
    </div>
    
</div>

<% include partials/footer %>